  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <title>{{title}}</title>
  </head>
  <body class="c18 doc-content">
    <div>
      <p class="c17"><span class="c15"></span></p>
    </div>
    <div class="counter-container">
    <div>
      <p class="c2 c16 title" id="h.5rf9wr4r3no2">
        <span class="c19">Shivam Rajput</span><span class="c20"><br /></span
        ><span>Full Stack Developer</span>
      </p>
      <p class="c2"><span class="c1">+91 6384127405</span></p>
      <p class="c2">
        <span class="c1">www.linkedin.com/in/shivam-rajput-17193416b</span>
      </p>
      <p class="c2">
        <span class="c10">shivamrajput1017</span><span class="c10 c12">@</span
        ><span class="c10">hotmail</span><span class="c10 c12">.</span
        ><span class="c10">com</span>
      </p>
    </div>
    <div>
      
      <p class="c2 c16 title" id="h.5rf9wr4r3no2">
        <span>Number of Visitors: {{visitors | async}}</span><span class="c20"><br /></span>
      </p>
    </div>
  </div>
    <h1 class="c7" id="h.628phil8unj9"><span class="c19">Skills</span></h1>
    <ul class="c5 lst-kix_b5t9o5dufjni-0 start">
      <li class="c2 c4 li-bullet-0">
        <span class="c11"
          >Web Development - Angular, MongoDB, SpringBoot, HTML, CSS,
          &nbsp;Java</span
        >
      </li>
      <li class="c2 c4 li-bullet-0">
        <span class="c11">Testing - Jasmine framework, Junit, Protractor</span>
      </li>
      <li class="c2 c4 li-bullet-0">
        <span class="c11">Agile Methodologies, Github</span>
      </li>
      <li class="c2 c4 li-bullet-0">
        <span>Pivotal Cloud Foundry, Jenkins</span>
      </li>
    </ul>
    <h1 class="c7" id="h.k8ysck8q9mgf"><span class="c0">Experience</span></h1>
    <h2 class="c2 c6" id="h.arnrh62rcfpt">
      <span>August 2021 </span><span>- PRESENT</span>
    </h2>
    <h3 class="c2 c6" id="h.mofu6vopi18q">
      <span>Ford Motor Company</span><span>, Chennai</span
      ><span class="c12 c13">- Junior Engineer</span>
    </h3>
    <ul class="c5 lst-kix_y5lajpktzaow-0 start">
      <li class="c2 c4 c8 li-bullet-0">
        <span class="c11"
          >Worked on a &nbsp;Microservices &nbsp;architecture project &nbsp;with
          more than 6 microservices.</span
        >
      </li>
      <li class="c2 c4 c8 li-bullet-0">
        <span class="c11"
          >Performed a POC on Server Side Pagination for handling large data and
          &nbsp;successfully implemented it in the project.</span
        >
      </li>
      <li class="c2 c4 c8 li-bullet-0">
        <span class="c11"
          >Developed multiple reports in PDF &nbsp;format using JAVA &nbsp;Itext
          with complex calculations and data from various projects.</span
        >
      </li>
      <li class="c2 c4 c8 li-bullet-0">
        <span
          >Performed Unit Testing and Behavior Testing for the developed
          components.</span
        >
      </li>
    </ul>
    <h2 class="c2 c6" id="h.9hamueqzod31">
      <span>June 2019 </span><span>- June 2019</span>
    </h2>
    <h3 class="c2 c6" id="h.klvjjwvj40i3">
      <span>Mindzone Solutions</span><span>, Kanpur</span
      ><span class="c13 c12">&nbsp;- Intern</span>
    </h3>
    <ul class="c5 lst-kix_y5lajpktzaow-0">
      <li class="c2 c4 c8 li-bullet-0">
        <span
          >Developed a Restaurant website for a client using HTML, &nbsp;CSS
          &nbsp;and Javascript.</span
        >
      </li>
    </ul>
    <h1 class="c7" id="h.6oztx7omgpqo"><span class="c0">Education</span></h1>
    <h2 class="c2 c6" id="h.v9j91n2fon3f">
      <span>July</span><span class="c3">&nbsp;2017 - July 2021</span>
    </h2>
    <h3 class="c2 c6" id="h.78rlvk1sif5a">
      <span>SRM Institute of Science and Technology</span><span>, Chennai</span
      ><span class="c14"
        >- Bachelor of Technology &nbsp;in Information Technology, 91.53%</span
      >
    </h3>
    <h1 class="c7" id="h.txda8vxduhlz"><span class="c19">Projects</span></h1>
    <h3 class="c2 c6" id="h.n4yyigvba1vx">
      <span class="c9">Language Learning Android App</span>
    </h3>
    <p class="c2 c8">
      <span>A</span
      ><span class="c11"
        >n app that provides translation of common words and phrases of Miwok
        Language (Native American) to English.</span
      >
    </p>
    <h3 class="c2 c6" id="h.aslatdxpl8n0">
      <span class="c9">Earthquake Information Android App</span>
    </h3>
    <p class="c2 c8">
      <span class="c11"
        >An app that displays live and recently occurred earthquakes around the
        world. The data is retrieved directly from the USGS(United States
        Geological Survey) Website.</span
      >
    </p>
    <h1 class="c7" id="h.b501oj9j4jho">
      <span class="c0">Certifications</span>
    </h1>
    <h3 class="c2 c6" id="h.8wci29j7bzbt">
      <span>Database Management System</span><span class="c14">- NPTEL</span>
    </h3>
    <h3 class="c2 c6" id="h.f09s5r3uwblx">
      <span>Building Web Applications in PHP - </span
      ><span class="c14">Coursera</span>
    </h3>
  </body>
